<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/anarbabayev/Desktop/TestNgSeleniumPr/src/test/java/Assertions/AssertionsPracticeTest.java">
        <classes>
            <class name="c10Practice.Assertions.AssertionsPracticeTest">
                <methods>
                    <include name="verifyBasicStuff"/>
                    <include name="verifyMoreBasicStuff"/>
                    <include name="verifyLogo"/>
                    <include name="verifyCity"/>
                    <include name="verifyFbTitle"/>
                    <include name="listViewTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>